body {
  margin: 0;
}

.wrapper {
  width: 80%;
  height: 100vh;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: inline-block;
  padding: 40px 0;
  padding-left: 44px;
  font: bold 24px/32px 'PT Serif';
  position: relative;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.logo__circle {
  width: 28px;
  height: 28px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%
}

.logo__circle_blue {
  left: 8px;
  top: 56%;
  background: #C8DBFB;
  opacity: .7;
}

.logo__circle_dark-blue {
  background: #0056EC;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__item {
  margin-right: 26px;
  position: relative;
  font: 500 18px/21px 'Roboto', sans-serif;
  color: #000;
  text-decoration: none;
  transition: color 0.5s;
}

.menu__item::after {
  display: block;
  position: absolute;
  content: '';
  left: 0;
  width: 0;
  height: 3px;
  background: #0056EC;
  opacity: 0;
  transition: width 0.5s;
}

.menu__item:hover {
  color: rgba(0, 0, 0, 0.5);
}

.menu__item:hover::after {
  opacity: 1;
  width: 100%;
}

.menu__item:last-child {
  margin-right: 0;
}

.content {
  height: calc(100% - 98px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
  .text-content, .img-content {
  display: inline-block;
}

.text-content__title {
  font-family: 'PT Serif', serif;
  width: 567px;
}

.text-content__text {
  font-family: 'Roboto', sans-serif;
  width: 455px;
}

.button {
  font-family: 'Roboto', sans-serif;
  width: 271px;
}

.img-content {
  width: 770px;
  height: 657px;
}
