.menu {
  font-family: 'Roboto', sans-serif;
}

.text-content__title {
  font-family: 'PT Serif', serif;
}

.text-content__text {
  font-family: 'Roboto', sans-serif;
}

.button {
  font-family: 'Roboto', sans-serif;
}
